footer {
    background-color: #5383E8;
}

.spans>span {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    padding: 30px 15px;
}

.copyright>p {
    font-size: 10.5px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    line-height: 5px;
}

.copyright{
    padding:10px;
}

.letter {
    margin: 0px 215px;
    padding: 40px 0px;
}