*{
    font-family: Roboto,Noto sans kr,"Apple SD Gothic Neo",Malgun Gothic,sans-serif!important;
}
.div--nav{
    width: 100%;
    height: 40px;
    display: flex;
    font-size: 12px;
    background-color: #28344E;
}
.nav--opggLogo{
    padding-left: 16px;
    width: 65px;
    height: 40px;
    background-color: #5383E8;
}
.nav--lolLogo {
    padding-left: 20px;
    width: 24px;
    height: 24px;
}
.nav--loldiv{
    display: flex;
    background-color: #5383E8;
    align-items: center;
    padding-right: 12px;
}
.nav--loldiv--text{
    padding-left: 8px;
    color: white;
}
.nav--duodiv, .nav--duodiv2{
    height: 30px;
    display: flex;
    background-color: #28344E;
    align-items: center;
    margin-top: 5px;
    padding-right: 10px;
}
.nav--duodiv:hover{
    background-color: #2F436E;
    border-radius: 5px;
}
.nav--duodiv2:hover{
    background-color: #2F436E;
    border-radius: 5px;
}
.nav--duoicon{
    padding-left: 15px;
    width: 25px;
    height: 25px;
}
.nav--duoicon_special{
    padding-left: 13px;
    width: 25px;
    height: 25px;
}
.nav--duodiv > span, .nav--duodiv2 > span{
    color: #C3CBD1;
    padding-left: 5px;
    font-weight: 400;
}
.nav--duodiv--text{
    margin-left: 8px;
    background-color: #FFB900;
    border-radius: 50%;
    width: 12px;
    height: 16px;
    font-weight: bold;
}
.nav--duodiv--text > p{
    margin: 0 auto;
    color: black;
    font-weight: bold;
}
.nav--language{
    padding-left: 150px;
    display: flex;
    background-color: #28344E;
    align-items: center;
}
.nav--language--img{
    width: 25px;
    height: 25px;
    padding-right: 5px;
}
.nav--language--button{
    background-color: #28344E;
    border: none;
    color: #C3CBD1;
    cursor: pointer;
}
.nav--language--triangle{
    padding-left: 8px;
    width: 10px;
    height: 5px;
}
.nav--login{
    display: flex;
    align-items: center;
    background-color: #28344E;
    padding-left: 20px;
    padding-right: 5px;
}
.nav--login--button{
    background-color: #5383E8;
    border: none;
    height: 26px;
    width: 65px;
    border-radius: 5px;
    color: white;
    font-size: 12px;
    cursor: pointer;
}
/* .nav--change{
    background-color: #28344E;
    border: none;
    padding-left: 130px;
} */
.div--nav2--under{
    padding-left: 20px;
}
.div--nav2--link{
    text-decoration: none;
    color: #C3CBD1;
    font-size: 16px;
    font-weight: 300;
}
.div--nav2--link2{
    text-decoration: none;
    color: #00fede;
    font-size: 16px;
    font-weight: 300;
}
.div--nav2--link:hover{
    color: white;
    border-bottom: 3px solid white;
    padding-bottom: 11px;
}
.div--nav2--link2:hover{
    color: white;
    border-bottom: 3px solid white;
    padding-bottom: 11px;;
}
.div--nav2{
    padding-left: 90px;
    display: flex;
    align-items: center;
    background-color: #5383E8;
    height: 50px;
}
.moreButton{
    display: none;
}
@media screen and (min-width:0px) and (max-width:1440px) {
    .nav--language{
        padding-left: 70px;
    }
    .nav--duodiv > span{
        font-size: 12px;
    }
    .nav--duodiv{
        padding-right: 7px;
    }
    .nav--duoicon{
        padding-left: 7px;
    }
}
@media screen and (min-width:0px) and (max-width:1280px) {
    .nav--language{
        padding-left: 10px;   
    }
    .nav--duodiv2{
        display: none;
    }
    .nav--duodiv{
        margin-right: 10px;
    }
    .moreButton{
        margin-left: 5px;
        margin-right: 5px;
        height: 30px;
        display: flex;
        background-color: #28344E;
        align-items: center;
        margin-top: 5px;
        padding-right: 10px;
        border: none;
    }
    .moreButton:hover{
        background-color: #2F436E;
        border-radius: 5px;
    }
}   